<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('name') %></th>
      <th><%= t('description') %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @kalibro_configurations %>
  </tbody>
</table>