<div class="page-header">
  <h1><%= KalibroConfiguration.model_name.human(count: 2) %></h1>
</div>

<% if user_signed_in? %>
  <p>
    <%= link_to t_action(:new, KalibroConfiguration), new_kalibro_configuration_path, class: 'btn  btn-primary' %>
  </p>
<%else%>
  <p class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= t('unauthenticated', action: t_action(:create, KalibroConfiguration, count: 2).downcase) %>.
  </p>
<% end %>

<%= render partial: 'list', locals: {configurations: @configurations} %>
