<div class="page-header">
  <h1> <%= t('configurations') %></h1>
</div>

<% if user_signed_in? %>
  <p>
    <%= link_to t('new_configuration'), new_mezuro_configuration_path, class: 'btn  btn-primary' %>
  </p>
<%else%>
  <p class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
     <%= t('must_logged_configuration') %>
  </p>
<% end %>

<%= render partial: 'list', locals: {configurations: @configurations} %>