<div class="page-header">
  <h1><%= @configuration.name %></h1>
</div>

<p>
  <strong>Description:</strong>
  <%= @configuration.description %>
</p>

<hr />

<p>
  <%= link_to 'Back', mezuro_configurations_path, class: 'btn btn-default' %>
</p>
