<div class="page-header">
  <h1> <%= t('helpers.submit.edit', model: compound_metric_human_name) %> </h1>
</div>

<%= render partial: 'created_metrics', locals: {metric_configurations: @metric_configurations} %>

<br>

<%= form_for(@metric_configuration, :url => kalibro_configuration_compound_metric_configuration_update_path(@metric_configuration.kalibro_configuration_id, @metric_configuration.id), method: :put) do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
<% end %>

<script type="text/javascript">
  //Loads the accordion
  $(function() {
    $( "#created-metrics-accordion" ).accordion({
      heightStyle: "content",
      collapsible: true,
    });
  });
</script>
