<div class="page-header">
  <h1>New Compound Metric Configuration</h1>
</div>

<br>

<%= form_for(@compound_metric_configuration, :url => mezuro_configuration_metric_configurations_path(@compound_metric_configuration.configuration_id)) do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
<% end %>
