<tr>
	<td>
    <% if module_result.folder? %>
      <i class="icon-folder-close"></i>
    <% else %>
      <i class="icon-file"></i>
    <% end %>
    <%= link_to format_module_name(module_result.module.name), project_repository_module_path(repository.project_id, repository.id, module_result.id) %>
  </td>
	<td><%= module_result.module.granularity %></td>
	<td><%= format_grade(module_result.grade) %></td>
</tr>