<div class="page-header">
  <h1><%= t_action(:edit, Repository) %></h1>
</div>

<%= form_for(@repository, :url => repository_update_path(@repository.id), method: :put) do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
<% end %>
