<div class="page-header">
  <h1>Editing Repository</h1>
</div>

<%= form_for(@repository, :url => project_repository_update_url(@project_id, @repository.id), method: :put) do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
<% end %>
