<h1>Listing Repositories</h1>

<table border="1" width="30%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @repositories.each do |repository| %>
      <tr>
        <td align="center"><%= repository.name %></td>
        <td align="center"><%= link_to 'Show', project_repository_path(@project, repository) %><br/>
        <%= link_to 'Edit', edit_project_repository_path(@project, repository) %><br/>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Repository', new_project_repository_path(@project) %>
