<div class="page-header">
  <h1>New Repository</h1>
</div>

<%= form_for(@repository, :url => project_repositories_url(@project_id)) do |f| %>
	<%= render partial: 'form', locals: {f: f} %>
<% end %>

