<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @repository.name %>
</p>

<%= link_to 'Edit', edit_project_repository_path(@repository.project_id, @repository.id) %> |
<%= link_to 'Back',  project_path(@project_id) %>
