<div class="page-header">
  <h1><%= t_action(:edit, Reading) %></h1>
</div>

<%= form_for(@reading, :url => reading_group_reading_update_path(@reading.reading_group_id, @reading.id), method: :put) do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
<% end %>
