<div class="page-header">
  <h1><%= t_action(:new, Reading) %></h1>
</div>

<%= form_for(@reading, :url => reading_group_readings_path(@reading_group_id)) do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
<% end %>
