<div class="page-header">
  <h1><%= "#{t('new.female')} #{Reading.model_name.human}" %></h1>
</div>

<%= form_for(@reading, :url => reading_group_readings_path(@reading_group_id)) do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
<% end %>
