<li class="nav-header"><%= t('about_mezuro') %></li>
<li class="list-group-item">
  <small>
    <%= t('about_mezuro_body_html', href: link_to( 'Kalibro Configurations', 'https://github.com/mezuro/kalibro_configurations', target: '_blank'), href2: link_to('Kalibro Processor', 'https://github.com/mezuro/kalibro_processor', target: '_blank'))%>
  </small>
</li>
