<header class="home page-header">
  <div class="container-fluid">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
      <h1><%= t('title_home_index') %></h1>
      <%= t('body_home_index_html') %>
      <p>
        <%= t('body_feedback_home_index_html', href: link_to('feedback', 'https://github.com/mezuro/mezuro/issues', target: '_blank')) %>
      </p>
    </div>
  </div>
</header>
