<h2><%= t('latest_projects') %></h2>

<ul>
  <% cache do %>
    <% @latest_projects.each do |project| %>
      <li><%= link_to(project.name, project_path(project.id)) %></li>
    <% end %>
  <% end %>
</ul>
