<h1>Tutorial</h1>
<h2>Analyzing a repository</h2>

<hr />

<h3>Requisites</h3>

In order to create a Project, you must:
<ul>
  <li>Have <%= link_to("signed up", new_user_registration_path) %> to the platform</li>
  <li>Be <%= link_to("signed in", new_user_session_path) %></li>
  <li>And have a repository URL which you desire to analyze</li>
</ul>

<hr />

<h3>Steps</h3>

<ol>
  <li>Project creation
  <ol>
    <li>Click in "Project" on the upper menu</li>
    <li>Click in "New Project" on the upper menu</li>
    <ol>
      <li>Fill in the form with a name that must be unique</li>
      <li>Fill in the form with a description which is not required</li>
      <li>Click in "Save" and you should be at the project page now, congratualitions!</li>
    </ol>
  </ol>
  <li>Repository creation</li>
  <ol>
    <li>From the project page, click in "New Repository"</li>
    <li>Fill in the form</li>
      <ul>
        <li>"Name" must be unique</li>
        <li>You should choose from one of the Open Source licenses in the platform accordingly to your code</li>
        <li>The "Type" field stands for the repository's source code management tool (eg: Git)</li>
        <li>Fill in the "Address" with a URL from which we can download your code</li>
        <li>If you want to analyze your project periodically, set it (you can as well run it from the interface whenever you want)</li>
        <li>Finally, the "Configuration", stands for the settings for metrics and interpretation that we'll use to analyze your project</li>
        <li>Click in "Save" and you should be at the repository page, waiting for tha analysis</li>
      </ul>
  </ol>
</ol>

<hr />

<h3>Repository page details</h3>

The repository page is divided into four different sections:

<ol>
  <li><b>Details</b></li>
    <ul>
      <li>Information that you provided during the creation steps</li>
      <li>Select box so it is possible to visualize previous precessings for your repository</li>
    </ul>
  <li><b>Processing information</b></li>
    <ul>
      <li>Information about the time that has taken to finish each step of the processing</li>
        <ol>
          <li>PREPARING: the system is reserving a folder for your repository and retrieving the configuration</li>
          <li>DOWNLOADING: retrieving the source code</li>
          <li>COLLECTING: extracting the metrics for your repository</li>
          <li>BUILDING: organizing the results into a source tree structure</li>
          <li>AGGREGATING: calculating the aggregated value for parent modules in the source tree</li>
          <li>CALCULATING: if the choosen configuration has compund metrics, they will be calculated</li>
          <li>INTERPRETATING: with all the necessary results, now the system will interpretate this results in means of the reading group (labels and colors)</li>
        </ol>
    </ul>
  <li><b>Modules Tree</b></li>
    <ul>
      <li>Source tree structure where you can navigate by clicking on the names
      <li>Information about the granularity of the module
        <ul>
          <li>METHOD</li>
          <li>CLASS</li>
          <li>PACKAGE</li>
          <li>SOFTWARE</li>
        </ul>
      <li>Grade of the given module accordingly to the weights of the configuration
    </ul>
  <li><b>Metric Results</b></li>
    <ul>
      <li>Displays the individual results for each metric for the current module selected in the source tree</li>
      <li>By clicking in the metric name, you will see a historic chart for that metric</li>
    </ul>
</ol>