<h1>Tutorial</h1>
<h2>Criando uma nova configuração</h2>

<hr>

<h3>Requisitos</h3>

Para criar uma configuração, é necessário:
<ul>
  <li><%= link_to(t('signed_up'), new_user_registration_path) %> na plataforma</li>
  <li>Estar <%= link_to(t('signed_in'), new_user_session_path) %></li>
  <li>Já ter criado pelo menos um Grupo de Leitura</li>
</ul>

<hr>

<h3>Introdução</h3>

Para processar um repositório, o Mezuro utiliza configurações que você especifica no  <%= link_to(t('repository_creation'), tutorials_path('analyzing')) %>.

<h4>Componentes de Configuração</h4>

<p>Aqui você será apresentado brevemente a todos os componentes de uma configuração e, em seguida, verá os passos para criar uma nova configuração.</p>

<dl>
  <dt><b>Configuração</b></dt>
  <dd>Apenas um contêiner de alto nível para a associação componentes restantes</dd>
  <dt><b>Métricas</b></dt>
  <dd>Especificação de quais métricas serão calculadas durante o processamento e como interpretar seus resultados
    <ul>
      <li>Peso: para cada módulo é dada uma nota, que é uma média ponderada de todas as métricas calculadas para ele. Este campo corresponde ao peso da métrica sobre a nota final</li>
      <li>Forma de Agregação: Nem todas as métricas podem ser calculadas para cada módulo. Para este tipo de métrica, calcula-se a agregação dos valores de acordo com o que está especificado em cada campo</li>
      <li>Grupo de Leitura: especifica qual conjunto de interpretações (chamados leituras) estará disponível para esta métrica</li>
    </ul>
  </dd>
  <dt><b>Grupo de Leitura</b></dt>
  <dd>Apenas um contêiner de alto nível para as leituras (interpretações)</dd>
  <dt><b>Leitura</b></dt>
  <dd>Leitura: a interpretação de um determinado valor fornecendo rótulo, nota (esta é a nota utilizada para a média ponderada mencionada acima) e a cor</dd>
  <dt><b>Intervalo</b></dt>
  <dd>Associa intervalos numéricos para as leituras de uma determinada métrica</dd>
</dl>

<hr>

<h3>Passos</h3>

<ol>
  <li>
<b>Criando Configuração</b>
    <ol>
      <li>Clique em "Configuração" no menu superior</li>
      <li>Clique em "Nova Configuração"
        <ol>
          <li>Preencha o formulário com um "Nome", que deve ser único</li>
          <li>Preencha o formulário com uma "Descrição"</li>
        </ol>
      </li>
      <li>Clique em "Salvar" e você será redirecionado para a página de configuração</li>
    </ol>
  </li>
  <li>
<b>Adicionando uma Métrica</b>
    <ol>
      <li>A partir da página de configuração</li>
      <li>Clique em "Adicionar Métrica"</li>
      <li>Selecione um coletor das opções e clique na métrica que você deseja adicionar
        <ol>
          <li>Preencha o formulário com um "Peso" que será utilizado para o cálculo da nota final</li>
          <li>Escolher a "Forma de Agregação" que irá ser utilizada para esta métrica</li>
          <li>Selecione o "Grupo de Leitura", que irá fornecer as interpretações para essa métrica</li>
        </ol>
      </li>
      <li>Clique em "Salvar" e você deve estar na página de configuração, agora com uma nova métrica adicionada</li>
    </ol>
  </li>
  <li>
<b>Criação de Intervalos</b>
  <ol>
    <li>A partir da página de configuração</li>
    <li>Clique em "Mostrar" para a métrica que você deseja criar intervalos</li>
    <li>Clique em "Adicionar intervalo"
      <ol>
        <li>Preencha o formulário com os valores de "Início" e "Fim" de cada intervalo</li>
        <li>Preencha o formulário com os "Comentários", que serão exibidos se o valor da métrica corresponder ao intervalo</li>
        <li>Selecione a "Leitura" que será associada a este intervalo</li>
      </ol>
    </li>
    <li>Clique em "Salvar" e você deve estar na página da métrica com o novo intervalo criado, parabéns!</li>
  </ol>
</li>
</ol>

<hr>
