<h1>Tutorial</h1>
<h2>Setting a New Configuration</h2>

<hr />

<h3>Requisites</h3>

In order to create a Configuration, you must:
<ul>
  <li>Have <%= link_to(t('signed_up'), new_user_registration_path) %> to the platform</li>
  <li>Be <%= link_to(t('signed_in'), new_user_session_path) %></li>
  <li>Have already created at least one Reading Group</li>
</ul>

<hr />

<h3>Introduction</h3>

To process a repository, Mezuro uses configurations which you specify on the <%= link_to(t('repository_creation'), "http://mezuro.github.io/tutorial/2016/04/01/tutorial-analysis.html", target: "_blank") %>.

<h4>Configuration components</h4>

<p>Here you will be briefly introduced to all the components of a configuration and then guided through the steps to create one.</p>

<dl>
  <dt><b>Configuration</b></dt>
  <dd>Just a high level container for the remaining components association</dd>
  <dt><b>Metrics</b></dt>
  <dd>Specification of which metric will be calculated during the processing and how to interpret its results
    <ul>
      <li>Weight: for each module it is given a grade which is a weighted average of all the metrics calculated for it. This field is the weight of the metric on the final grade</li>
      <li>Aggregation Form: Not all the metrics can be calculated for every module. For this type of metric, we calculate the aggregation of the children values according to what this field specifies</li>
      <li>Reading Group: specifies which set of interpretations (called readings) will be available for this metric</li>
    </ul>
  </dd>
  <dt><b>Reading Group</b></dt>
  <dd>Just a high level container for the readings (interpretations)</dd>
  <dt><b>Reading</b></dt>
  <dd>Interpretation for a given value providing label, grade (this is the grade used for the weighted average mentioned above) and color</dd>
  <dt><b>Range</b></dt>
  <dd>Associates numeric intervals to the readings of a given metric</dd>
</dl>

<hr />

<h3>Steps</h3>

<ol>
  <li><b>Configuration creation</b>
    <ol>
      <li>Click on "Configuration" on the upper menu</li>
      <li>Click on "New Configuration"
        <ol>
          <li>Fill in the form with a name that must be unique</li>
          <li>Fill in the form with a description which is not required</li>
        </ol>
      </li>
      <li>Click on "Save" and you should be at the configuration page now</li>
    </ol>
  </li>
  <li><b>Metric addition</b>
    <ol>
      <li>From the configuration page</li>
      <li>Click on "Add Metric"</li>
      <li>Select one collector from the options, and click on the metric that you want to add
        <ol>
          <li>Fill in the form with a "Weight", used to calculate the final grade</li>
          <li>Select the "Aggregation Form" that will be used for this metric</li>
          <li>Select the "Reading Group" which will provide the interpretations for this metric</li>
        </ol>
      </li>
      <li>Click on "Save" and you should be at the configuration page now with the new metric added</li>
    </ol>
  </li>
  <li><b>Ranges creation</b>
  <ol>
    <li>From the configuration page</li>
    <li>Click on "Show" for the metric which you want to create ranges for</li>
    <li>Click on "Add Range"
      <ol>
        <li>Fill in the form with the "Beginning" and "End" values for the interval</li>
        <li>Fill in the form with the "Comments" which will be displayed if the metric value matches the interval</li>
        <li>Select the "Reading" which will be associated with this range</li>
      </ol>
    </li>
    <li>Click on "Save" and you should be at the metric page with the new range added, congratulations!</li>
  </ol>
</ol>

<hr />
