<h1>Tutorial</h1>

<h2>Palavras-chave</h2>

<hr>

<div class="keywords-explanations">
  <div>
    <h3 id="granularity">Granularidade</h3>

    <p>Representa o nível de granularidade do fragmento de código que está sendo medido. O Mezuro utiliza quatro níveis de granularidade, sendo eles:</p>
    <ul>
      <li>Método</li>
      <li>Classe</li>
      <li>Pacote</li>
      <li>Software</li>
    </ul>
  </div>

  <div>
    <h3 id="module">Módulo</h3>

    <p>Representa um fragmento do software. Cada nó na árvore de processamento gerada pelo Kalibro Processor é um Módulo e cada um deles possui uma <i>Granularidade</i>.</p>
  </div>

  <div>
    <h3 id="range">Intervalo</h3>

    <p>Representa intervalos numéricos que podem conter o valor calculado para uma métrica determinada <i>Métrica</i>. Intervalos combinados com leituras fornecem interpretações para o <i>Resultado das Métricas</i>.</p>
  </div>

  <div>
    <h3 id="reading">Leitura</h3>

    <p>A interpretação dada a um<i>Resultado das Métricas</i> (por exemplo, "Bom", "Complexo", "A"). As leituras combinadas com intervalos fornecem interpretações para o <i>Resultado das Métricas</i>.</p>
  </div>

  <div>
    <h3 id="reading-group">Grupo de Leitura</h3>

    <p>Um conjunto de <i>Leituras</i> que façam sentido quando agrupadas (por exemplo, "Bom" e "Ruim", "Simples" e "Complexo").</p>
  </div>
  <div>
    <h3 id="configuration">Configuração</h3>

    <p>Um conjunto de <i>Métricas</i>.</p>
  </div>
  <div>
    <h3 id="metric_result">Resultado da Métrica</h3>

    <p>É um resultado numérico associado a uma métrica pelo coletor ou agregador no caso de uma Métrica Composta</p>
  </div>

  <div>
    <h3 id="metric">Métrica</h3>
    <p>Uma métrica de software é uma medida quantitativa de alguma propriedade de um <i>Módulo</i>. Para mais detalhes veja
    <%= link_to(t('carlos_morais_dissertation'), 'http://www.teses.usp.br/teses/disponiveis/45/45134/tde-25092013-142158/publico/dissertacao.pdf') %>.</p>
  </div>
</div>
