<div class="alert alert-error alert-dismissable">
  <h4 class="alert-heading"><%= t('activemodel.errors.kalibro_range.no_readings') %></h4>
  <p>
    <% if reading_groups_owner? @reading_group_id %>
      <br /><%= link_to t_action(:create, Reading), new_reading_group_reading_path(@reading_group_id), class: 'btn btn-danger' %>
    <% else %>
      <p><%= t('activemodel.errors.kalibro_range.reading_group_belongs_to_another') %></p>
    <% end %>
  </p>
</div>
