<h1><%= t('edit', model: KalibroRange.model_name.human) %></h1>

<%= form_for(@kalibro_range, :url => kalibro_configuration_metric_configuration_kalibro_range_update_url(
             @kalibro_configuration_id, @metric_configuration_id, @kalibro_range.id), method: :put) do |f|  %>
  <%= render partial: 'form', locals: {f: f} %>
<% end %>