<h1><%= t_action(:new, KalibroRange) %></h1>

<%= form_for(@kalibro_range, :url => kalibro_configuration_metric_configuration_kalibro_ranges_path(
             @kalibro_configuration_id, @metric_configuration_id)) do |f|  %>
  <%= render partial: 'form', locals: {f: f} %>
<% end %>