<tr>
<!-- TODO: expand this columns when the user owns the metric configurations and can edit or delete this range -->
<td colspan="3"><%= t('no_models', model: KalibroRange.model_name.human(count: 2)) %></td>
</tr>
