<div class="page-header">
  <h1>Editing Metric Configuration</h1>
</div>

<%= form_for(@metric_configuration, :url => mezuro_configuration_metric_configuration_update_url(@mezuro_configuration_id, @metric_configuration.id), method: :put) do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
  <div class="row margin-left-none" style="margin-top: 20px">
  	<%= f.submit 'Save', class: 'btn btn-primary' %>
  	<%= link_to 'Back',  mezuro_configuration_path(@metric_configuration.configuration_id), class: 'btn btn-default' %>
  </div>
<% end %>
