.form-table {
  margin: 0 !important;
  background: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}

.form-row {
  float: left;
  width: 100%;
  border-bottom: 1px solid #f2f2f2;
  border-top: 1px solid #e3e3e3;
  display: inline-flex;
}

.field-container {
  position: relative;
  float: left;
  width: 653px;
  padding: 20px;
}

.help-container {
  float: left;
  width: 400px;
  padding: 20px;
  background: #f5f5f5;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
}

.text-field {
  width: 95% !important;
  margin: 0;
  background: #f9f9f9;
}

.text-area {
  width: 95% !important;
  margin: 0;
}

.field-container select {
  width: 99% !important;
  margin: 0;
}
