<div class="alert alert-error alert-dismissable">
	<h4 class="alert-heading"> <%= t('reagingns_associated_reading_group') %></h4>
	<p>
		<% if reading_groups_owner? @reading_group_id %>
			<br /><%= link_to t('create_new_reading'), new_reading_group_reading_path(@reading_group_id), class: 'btn btn-danger' %>
		<% else %>
		  <p>  <%= t('user_no_allowed_modify') %></p>
		<% end %>
	</p>
</div>
