<div class="alert alert-error alert-dismissable">
	<h4 class="alert-heading">You must have readings in your associated reading group to create a new range.</h4>
	<p>
		<% if reading_groups_owner? @reading_group_id %>
			
			<br /><%= link_to 'Create New Reading', new_reading_group_reading_path(@reading_group_id), class: 'btn btn-danger' %>
		
		<% else %>

				<p> Your metric configurations' reading group belongs to another user and you are not allowed to modify it.</p>
		
		<% end %>
	</p>
	
</div>
